<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./components/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./components/aos/dist/aos.css">
    <link rel="stylesheet" href="./components/lightbox2/dist/css/lightbox.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <link href="./css/nanogallery.css" rel="stylesheet" type="text/css">

    <title>Archihub</title>

    
    <script src="./components/jquery/dist/jquery.min.js"></script>
    <script src="./components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        {{{body}}}
    </div>
    <script src="./js/sweetalert.min.js"></script>
    <script src="./components/aos/dist/aos.js"></script>
    <script>

        AOS.init(
            {
                delay: 200
            }
        );
    </script>

</body>

</html>