@font-face {
  font-family: "proxima-regular";
  src: url(../fonts/proxima/ProximaNova-Regular.otf);
}

@font-face {
  font-family: "gotham-regular";
  src: url(../fonts/gotham/GothamMedium.ttf);
}

@font-face {
  font-family: "gotham-bold";
  src: url(../fonts/gotham/GothamBold.ttf);
}

@font-face {
  font-family: "graphik";
  src: url(../fonts/graphik/GraphikRegular.otf);
}

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf);
}

@font-face {
  font-family: "shadowfont";
  src: url(../fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: graphik;
  margin: 0;
  padding: 0;
  outline: none;
  background: #ffffff;
  height: 100vh;
}

.container-fluid {
  padding: 0;
}

h1,
h2,
h3,
h4 h5,
h6 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

a {
  position: relative;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #c8102e;
}

.accent {
  color: #c8102e;
}

.accent-background {
  background-color: #c8102e;
}

i {
  color: #ffffff;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
  margin-right: 10px;
}

i:hover {
  color: #c8102e;
}

.spacing {
  margin: 5em 0;
}

.arch-btn {
  cursor: pointer;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  color: #c8102e;
  background: #ffffff;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid #c8102e;
}

.arch-btn:hover {
  color: #ffffff;
  background: #c8102e;
}

/* Awesome hr */
hr {
  margin: 0 !important;
}

hr.awesome-hr {
  overflow: visible;
  /* For IE */
  height: 30px;
  border-style: solid;
  border-color: #c8102e;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr.awesome-hr:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #c8102e;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.vertical-hr {
  height: inherit;
}

.vertical-hr .hr-right {
  border-style: solid;
  width: 20px;
  border-color: #c8102e;
  border-width: 0 0 0 1px;
  border-radius: 20px;
  height: 100%;
}

.vertical-hr .hr-left {
  border-style: solid;
  width: 20px;
  border-color: #c8102e;
  border-width: 0 1px 0 0;
  border-radius: 20px;
  height: 100%;
}

.navbar {
  position: fixed;
  top: -100px;
  -webkit-transition: top 0.8s;
  transition: top 0.8s;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
}

.navbar i {
  color: #343434 !important;
}

.navbar-brand {
  color: #343434;
  font-weight: bolder;
  font-size: 1em;
  text-decoration: underline;
  -webkit-text-decoration-color: #c8102e;
          text-decoration-color: #c8102e;
}

.navbar-brand:hover {
  color: #343434;
  font-weight: bold;
}

.navbar-nav {
  position: absolute;
  right: 0;
  margin-right: 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 20%;
}

.nav-link {
  color: #343434;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.nav-link:hover {
  text-decoration: none;
}

.btn-2 {
  letter-spacing: 0px;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid #c8102e;
  bottom: 0px;
  content: "";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #c8102e;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.sect img {
  border-right: 2px solid #c8102e;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #c8102e;
}

/* Caption text */
.text {
  color: #ffffff;
  background: #c8102e;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #c8102e;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #ffffff;
}

/* Fading animation */
.fader {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.category {
  position: absolute;
  height: 20px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff !important;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.category > div {
  border: 1px solid #343434;
  width: 100%;
}

.card {
  /* Add shadows to create the "card" effect */
  -webkit-box-shadow: 0 8px 16px 0 #ffffff;
          box-shadow: 0 8px 16px 0 #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  -webkit-box-shadow: 0 16px 32px 0 #343434;
          box-shadow: 0 16px 32px 0 #343434;
}

.card-img-top {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-project {
  background-color: #ffffff;
  color: #c8102e;
}

.curved {
  border-radius: 0% 0 50% 50%/ 0% 0 70% 70%;
  height: 100px;
  background-color: #ffffff;
  border-bottom: 10px solid #c8102e;
}

footer {
  color: #ffffff;
  background-color: #343434;
}

footer .footer-link {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

footer .footer-link:hover {
  color: #c8102e;
}

footer .footer-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

footer .footer-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #c8102e;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

footer .contact a {
  font-size: 0.9em;
}

footer .footer-nav a {
  font-size: 1.2em !important;
}

footer .webdev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

footer .dev {
  font-family: shadowfont;
  font-style: italic;
}

.section-container {
  height: 500px;
  overflow-y: scroll;
}

.section-container section:not(.active-section) {
  display: none !important;
}

.image {
  position: relative;
  border-radius: 20px;
  -webkit-box-shadow: 0 16px 32px 0 #343434;
          box-shadow: 0 16px 32px 0 #343434;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.image img {
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.image .btn-group {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.image:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.image:hover .btn-group {
  display: inline;
}

#modal-image {
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.jumbotron form:not(.shown) {
  display: none;
}
/*# sourceMappingURL=main.css.map */